<div class="masonary-cards transitions-enabled">
  <% @cards.each do |card| %>
    <% if Date.today >= card.duedate %>
      <div class = "box panel panel-delayed">
      <div class = "panel-box-delayed"><%= card.description %></div>
    <% else %>
      <div class = "box panel panel-ontime">
      <div class = "panel-box-ontime"><%= card.description %></div> 
    <% end %>
        <div class = "panel-body">
          <strong><%= card.user.email if card.user %></strong><br/>
          <%= card.project_id %><br/>
          <%= card.duedate %>
          <div class = "action">
            <%= link_to 'Show', card_path(card) %>
            <% if card.user == current_user %>
              <%= link_to 'Edit', edit_card_path(card) %>
              <%= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </div>
        </div>
      </div>
  <% end %>
</div>