<p id="notice"><%= notice %></p>

<p>
  <strong>Project Description:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @project.user.email %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Cards:</strong>
  <%= @project.description %>
</p>

<% if @project.user == current_user %>
	<%= link_to 'Edit', edit_project_path(@project) %> |
<% end %>
<%= link_to 'Back', projects_path %>


<% @cards = Card.all %>
<div class="masonary-cards transitions-enabled">
		<% @cards.each do |card| %>
		  <% if card.project_id == @project.id %> 
		    <div class = "box panel panel-default">
		      <%= card.description %>
		      <div class = "panel-body">
		        <strong><%= card.user.email if card.user %></strong><br/>
		        <%= card.project_id %>
		        <div class = "action">
		          <%= link_to 'Show', card_path(card) %>
		          <% if card.user == current_user %>
		            <%= link_to 'Edit', edit_card_path(card) %>
		            <%= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' } %>
		          <% end %>
		        </div>
		      </div>
		    </div>
	  <% end %>
	<% end %>
</div>
